<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/x-icon" href="../media/ngl.ico">
    <script></script>
</head>

<body>
    <style>
        html {
            background: linear-gradient(to bottom right, #EC1187 0%, #FF8D10 100%);
            background-attachment: fixed;
        }
    </style>
    <div class="container sent-container"><img class="check" src="media/sent.png">
        <h1 class="sent">Sent!</h1>
        <h2 class="download-prompt"> 👇 <span class="clickCount">245</span> people just tapped the button👇 </h2><a
            class="button download-link pulse" href="https://apps.apple.com/us/app/ask-fun/id1596550932"
            target="_blank">Get your own messages!</a><a class="another" href="javascript:history.back()">Send another
            message</a>
    </div>
    <div class="tos-privacy-sent"><a class="tos" href="https://ngl.link/p/terms">Terms</a><a class="privacy"
            href="https://ngl.link/p/privacy">Privacy</a></div>
</body>

</html>